# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:3000) -- The timeout in milliseconds for the version update check.
# 
# Thu Oct 24 23:07:09 GMT+08:00 2013
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=3000
